<div class="nav-scroller bg-white shadow-sm">
  <nav class="nav nav-underline">
    <a class="nav-link active" href="#">Dashboard</a>
    <a class="nav-link" href="{% url 'sql_main' %}">All areas
      <span class="badge badge-pill bg-light align-text-bottom">8</span>
    </a>
    <a class="nav-link" href="{% url 'sql_main' %}?area=1">Area 1</a>
    <a class="nav-link" href="{% url 'sql_main' %}?area=2">Area 2</a>
    <a class="nav-link" href="{% url 'sql_main' %}?area=3">Area 3</a>
    <a class="nav-link" href="{% url 'sql_main' %}?area=4">Area 4</a>
    <a class="nav-link" href="{% url 'sql_main' %}?area=5">Area 5</a>
    <a class="nav-link" href="{% url 'sql_main' %}?area=6">Area 6</a>
    <a class="nav-link" href="{% url 'sql_main' %}?area=7">Area 7</a>
    <a class="nav-link" href="{% url 'sql_main' %}?area=8">Area 8</a>
  </nav>
</div>