{% extends 'base.html' %}

{% block nav %}
    {% include './inc/_nav.html' %}
{% endblock %}

{% block content %}
    <h3>{{ title }}</h3>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>№</th>
                <th>Code</th>
                <th>Data</th>
            </tr>
            </thead>
            <tbody>
            {% for item in object_list %}
            <tr>
                <td>{{ item.pk }}</td>
                <td>{{ item.code }}</td>
                <td>{{ item.created_at }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</main>
{% endblock %}